.box {
    background-color: white;
    border: none;
    border-radius: 10%;
    box-shadow: 0px 0px 8px #888;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: 5em;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    line-height: 5rem;
    margin: .5rem;
}

.x {
    color: rgb(255, 70, 37);
}

.o {
    color: rgb(44, 135, 255);
}

.box {
    box-shadow: 0px 0px 15px #888;
}