.reset-btn {
    border: none;
    border-radius: .5rem;
    background-color: rgb(0, 110, 255);
    font-size: 2rem;
    color: white;
    padding: .5rem 1rem;
    margin: 2rem auto;
    display: block;
}
